*{
    background-image: url(https://images.unsplash.com/photo-1742403949587-42a767b9ea5b?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#footer{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(13, 13, 13, 0.466);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    gap: 10px;
    box-shadow: 0 10px 10px -10px #000;
  border: 2px solid transparent;
}
#main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    gap: 10px;
    box-shadow: 0 10px 10px -10px #000;
  border: 2px solid transparent;
  
  padding: 30px;
}
